$large-font: 3rem;

%fill-and-center {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

%in-line {
  display: inline;
}

.App {
  text-align: center;
}

#main {
  @extend %fill-and-center;
  background-color: #282c34;
  color: #eeeeee;
}

#name {
  font-size: $large-font;
}

.i-am {
  @extend %in-line;
}

.under-construction-pic {
  width: 60%;
  pointer-events: none;
}