$soft-white: #eeeeee;
$dark-grey: #282c34;
$amoled-black: #000000;

$large-font: 3rem;
$big-screen: 600px;

%fill-and-center {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

%normal-font {
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
}

%monospace-font {
  font-family: "Lucida Console",
    Monaco,
    monospace;
}

%container {
  width: 100%;

  @media screen and (min-width: $big-screen) {
    width: 70%;
  }
}

%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
